= form_for [:admin, @member], html: {class: 'form-horizontal'} do |f|

  = render partial: 'shared/form_errors', locals: { resource: @member }

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :initials, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :initials, class: 'form-control'

  .form-group
    = f.label :group_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :group_id, Group.all, :id, :name, {include_blank: 'None', prompt: true}, {class: 'custom-select'}

  .form-group
    %h4 Projects
    - Project.all.each do |project|
      .form-check
        %label.form-check-label
          = check_box_tag "member[project_ids][]", project.id, f.object.projects.include?(project), class: 'form-check-input'
          = project.name

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
      = link_to 'Back to List', admin_members_path, class: 'btn btn-secondary'
