%header.clearfix
  .float-right
    = link_to 'Edit Member', edit_admin_member_path(@member), class: 'btn btn-primary'
  %h1.display-4 Member

%dl.row
  %dt.col-sm-1 Name
  %dd.col-sm-11= @member.name

  %dt.col-sm-1 Initials
  %dd.col-sm-11= @member.initials

  %dt.col-sm-1 Group
  %dd.col-sm-11= get_group(@member)

%h5 Projects:
%ul.list-unstyled
  - @member.projects.each do |project|
    %li
      = link_to project.name, [:admin, project]

= link_to 'Back to List', admin_members_path, class: 'btn btn-secondary'
