%header.clearfix
  .float-left
    %h6
      #time-display.d-inline-block= @time
      #date-display.d-inline-block= @date
  .float-right
    %h6 Hydra Status Board

%hr.after-header

%section.announcements.clearfix
  .ticker-line.clearfix
    .ticker-train
      - @announcements.each do |announcement|
        .announcement-box
          = announcement.body

%hr

%h5 Stuff we're working on

%table.table
  %tbody
    - @projects.each do |project|
      %tr
        %td
          .h3= project.name
        %td
          .h3= project.status
        %td
          .d-flex.justify-content-end
            - project.members.each do |member|
              .block
                = member_circle(member)
