%header.clearfix
  .float-left
    %h6
      #time-display.d-inline-block= @time
      #date-display.d-inline-block= @date
  .float-right
    %h6 Hydra Status Board

%section.announcements.clearfix
  .ticker-line.clearfix
    .ticker-train
      - @announcements.each do |announcement|
        .announcement-box
          .emoji.d-inline
            = announcement.emoji
          .announcement-text.d-inline
            = announcement.body

%section.projects

  %h5 Stuff we're working on

  %table.table
    %tbody
      - @projects.each do |project|
        %tr
          %td
            .h3= project.name
          %td
            .h3= project.status
          %td
            .d-flex.justify-content-end
              - project.groups.each do |group|
                .block.group
                  .group-square{style: "background-color: ##{group.color}"}
                    = group.initials
              - project.members.each do |member|
                .block
                  = member_circle(member)
