%header.clearfix
  .float-left
    %h6
      #time-display.d-inline-block= @time
      #date-display.d-inline-block= @date
  .float-right
    %h6= t '.title'

%section.announcements.clearfix
  .ticker-line.clearfix
    .ticker-train
      - @announcements.each do |announcement|
        .announcement-box
          .emoji.d-inline
            = announcement.emoji
          .announcement-text.d-inline
            = announcement.body
      - if @announcements.empty?
        .announcement-box
          .emoji.d-inline= ":octopus:"
          .announcement-text.d-inline= t 'hello'
%aside.about-emoji.clearfix
  .float-right
    %small.attribution.text-muted
      %cite
        = link_to 'EmojiOne', 'https://www.emojione.com/', target: '_blank', class: 'text-muted'
      is licensed under
      = link_to 'CC-BY 4.0', 'https://creativecommons.org/licenses/by/4.0/legalcode', target: '_blank', class: 'text-muted'

%section.projects

  %h5= t '.projects'

  %table.table
    %tbody
      - @projects.each do |project|
        %tr
          %td.td-min-pad
            .indicator.d-inline-block.h-100{style: "border-color: #{project.color_indicator}"}
          %td
            .h3= project.name
          %td
            .h3= project.status
          %td
            .d-flex.justify-content-end
              - project.groups.each do |group|
                .block.group
                  .group-square{style: "background-color: #{group.color}"}
                    = group.initials
              - project.members.each do |member|
                .block
                  = member_circle(member)
      - if @projects.empty?
        %tr
          %td
            .h3= t '.no_projects'
