= form_for [:admin, @project], html: {class: 'form-horizontal'} do |f|

  = render partial: 'shared/form_errors', locals: { resource: @project }

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :status, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :status, class: 'form-control'

  .form-group
    %h4 Members
    - Member.all.each do |member|
      .form-check
        %label.form-check-label
          = check_box_tag "project[member_ids][]", member.id, f.object.members.include?(member), class: 'form-check-input'
          = member.name

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
