%h2 All Projects

= link_to 'New Project', new_admin_project_path

%table.table
  %thead
    %tr
      %th Name
      %th Status
      %th Actions
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.status
        %td
          = link_to 'Show', admin_project_path(project)
          = link_to 'Edit', edit_admin_project_path(project)
          = link_to 'Delete', admin_project_path(project), method: :delete, data: { confirm: 'Are you sure?' }
