%header.clearfix
  .float-right
    = link_to 'Edit Project', edit_admin_project_path(@project), class: 'btn btn-primary'
  %h1.display-4 Project: #{@project.name}

%dl.row
  %dt.col-sm-1 Name
  %dd.col-sm-11= @project.name

  %dt.col-sm-1 Status
  %dd.col-sm-11= @project.status

%h5 Members:
%ul.list-unstyled
  - @members.each do |member|
    %li
      = link_to_member(member)

%h5 Groups:
%ul.list-unstyled
  - @groups.each do |group|
    %li
      = link_to "#{group.name} (#{group.initials})", [:admin, group]

= link_to 'Back to List', admin_projects_path, class: 'btn btn-secondary'
