%header.clearfix
  .float-right
    = link_to 'Edit Project', edit_admin_project_path(@project), class: 'btn btn-primary'
  %h1.display-4 Project: #{@project.name}

%dl.row
  %dt.col-sm-2 Name
  %dd.col-sm-10= @project.name

  %dt.col-sm-2 Status
  %dd.col-sm-10= @project.status

  %dt.col-sm-2 Color Indicator
  %dd.col-sm-10
    %span.badge.color-hex{style: "background-color: #{@project.color_indicator}"}= @project.color_indicator

%h5 Members:
%ul.list-unstyled
  - @members.each do |member|
    %li
      = link_to_member(member)

%h5 Groups:
%ul.list-unstyled
  - @groups.each do |group|
    %li
      = link_to "#{group.name} (#{group.initials})", [:admin, group]

= link_to 'Back to List', admin_projects_path, class: 'btn btn-secondary'
