%h2 Project: #{@project.name}

%p
  %strong Status:
  = @project.status

%h5 Members:
%ul
  - @project.members.each do |member|
    %li
      = link_to "#{member.name} (#{member.initials})", [:admin, member]

= link_to 'Back', admin_projects_path
