%h1 All Projects

= link_to 'New Project', new_project_path

%table.table
  %thead
    %tr
      %th Name
      %th Status
      %th Actions
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.status
        %td
          = link_to 'Show', project_path(project)
          = link_to 'Edit', edit_project_path(project)
          = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }
