.row.mt-5
  .col
  .col-5
    %h1.mb-4 Log in

    - flash.each do |name, message|
      %div{class: alert_classes(name), role: 'alert'}= message

    = form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} do |f|

      .form-group
        = f.label :email, class: 'control-label'
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password, class: 'control-label'
        = f.password_field :password, autocomplete: "off", class: 'form-control'

      - if devise_mapping.rememberable?
        .form-group
          .form-check
            = f.label :remember_me, class: 'form-check-label' do
              = f.check_box :remember_me, class: 'form-check-input'
              Remember me

      .form-group
        = f.submit "Log in", class: 'btn btn-success btn-lg btn-block'
  .col
